<div class="row">
    <h3>Hard & Soft Skils</h3>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../assets/CSS.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../assets/html.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../assets/js.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'Productividad'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'Productividad'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 text-center">    
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'Productividad'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
        ></circle-progress>
    </div>
</div>
