<div class="row">
    <h3>Experiencia Laboral</h3>
    <div class="col-lg-11">
        <ul>
            <li>
                <h4>Trabajo 1</h4> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, laboriosam possimus quas minus aliquam id maiores perspiciatis dolorum similique repellat tenetur voluptates aspernatur fugit provident quae illo mollitia repudiandae quasi!</p>
            <li>
                <h4>Trabajo 2</h4> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, laboriosam possimus quas minus aliquam id maiores perspiciatis dolorum similique repellat tenetur voluptates aspernatur fugit provident quae illo mollitia repudiandae quasi!</p>
            <li>
                <h4>Trabajo 3</h4> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, laboriosam possimus quas minus aliquam id maiores perspiciatis dolorum similique repellat tenetur voluptates aspernatur fugit provident quae illo mollitia repudiandae quasi!</p>
        </ul>
    </div>
</div>
