<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto de perfil.jpg" class="img-fluid" id="foto-de-perfil">
    </div>
    <div>
        <h3 id="nombre">Facundo Molina</h3>
        <p>Full Stack Developer Jr.</p>
        <p>Profesor de Educación Física</p>
    </div>
    <div>
        <span>
            <h3>Acerca de</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quo eaque sed nesciunt, provident accusantium voluptas placeat autem porro maiores modi, facilis aliquid sint est vero ullam incidunt dolorem quasi!</p>
        </span>
    </div>
</div>